
header{
    font-family: Mulish;
    font-weight: 400;
    display:flex;
    align-items: center;

}

li{
    list-style-type: none;
    float:left;
    margin-left:1rem;

}

img{
    width:50px;
}

a:link{
    color:"#222222";
    text-decoration: none;

}