
header{
    width:100vw;
    font-family: Mulish;
    font-weight: 400;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    color: black;

}

#header-nav{
    padding-left: 0px;
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
    display: inline-block;
    margin-left:1rem;

}

img{
    width:50px;
    margin:.5rem;
}

a:link{
    margin-top:0px;
    color:#222222;
    text-decoration: none;
    font-weight: 700;

}

#blankli {
float:right;

}

#logout-button {
    display:inline-block;
    margin-top:0px;
    color:grey;
    position: relative;
    float:right;
    font-weight:400;
    font-size: .8rem;
}

#header-item {
    margin-top:0px;
}