.fakeElement{ /*need this to show all styles*/
}

body,html{
font-family: 'Mulish', sans-serif; 
font-size: 16px;
margin:auto;

}


a:link{
    float:right;
    margin-top:.5rem;
}

.drop-shadow{
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

#indiv-subb {
    float:left;
    width:33%;
    border-radius: .5rem;
    margin:2rem;
    padding-left:1rem;
    padding-right: 1rem;

}

#money{
    float:right;
    margin-bottom: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

#chart{
    width:50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#donutchart {
    background-color: white;

    left: 3rem;
}
